@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    font-size: 16px;
    font-family: 'Roboto','sans-serif';
    --color-typo: #d3d5d6;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto','sans-serif';
    color: var(--color-typo);
    
}
article[title="contact"]{
    display: flex;
    width: calc(25%*3); /*l'article contient 3 sections*/
    margin: auto;
    
}

article[title="contact"] > section{
    width:30%;
    height: 25vw;
    background-color: whitesmoke;
    margin: calc(10%/ 6);
    text-align: center;
    
}


article[title="contact"] > section > a > img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 25% auto;
    
    
}


article[title="contact"] > section > a {
    text-decoration: none;
    text-align: center;
    color: --color-typo;
}

article[title="contact"] > section > a > span{
    background-color: #e2e6eb;
    border-radius: 10px ;
    padding: 2% 15% 2% 15%;
}
/*--------------------------------laptop-----------------------------------*/
@media screen and (max-width: 1050px) {
    article[title="contact"]{
        width:80%;
        height: 40vw;
    }
    article[title="contact"] > section{
        height:30vw;

    }
    article[title="contact"] > section > a > img{
        width: 40%;    
    }
    
}
/*--------------------------------mobile-----------------------------------*/
@media screen and (max-width: 740px) {
    article[title="contact"]{
        width: 50%;
        display: block;
        
    }
    
    article[title="contact"] > section{
        width: 80%;
        height:290px;
        display: block;
        margin: auto;
    }
    
    article[title="contact"] > section > a > img{
        width: 60%;
        padding-top: 35%;
        margin-bottom:35%;
        
    }
    article[title="contact"] > section > a > span{
        padding: 5% 20% 5% 20%;
      
    }
    
}